<div class="container">
	<div class="span-24" style="height: 64px; border-bottom: 1px solid grey">
		<div class="span-12" style="padding: 10px 0 0 20px">
			<h1><b>tradenote.co</b></h1>
		</div>
		<div class="span-11 last" style="text-align: right; padding: 38px 0 0 0">
			<span style="font-size: 13px">
			<% if member_signed_in? %>
				<%= link_to "sign out " + current_member.email, destroy_member_session_path, :method => :delete %>
			<% else %>
				<%= link_to "login", new_member_session_path %>
			<% end %>
			</span>
		</div>
	</div>
	<div class="span-12">
		<div class="span-11" style="padding: 160px 0 0 50px">
			<h1 class="shadow">Plan your trades.<br />Track your decisions.</h1>
		</div>
	</div>
	<div class="span-12 last">
		<div class="span-11" style="padding: 60px 0 0 60px">
			<%= image_tag "https://s3.amazonaws.com/tradenote.co/web/tn2.png", :alt => "" %>
		</div>
	</div>
	<div class="span-24" style="position: fixed; bottom: 30px; text-align: right">
		<span class="footer-text" >copyright <%= DateTime.now.year %>, a licensed product of <%= link_to "Click Science", "http://clicksciencelimited.co.uk" %></span>
	</div>
</div>

